
main {
    background-color: #f7fdfc;
    margin: 0px auto;
    padding: 30px 0;
    }

p{
    color: #1d2a30;
}

.btn-info{
margin: 0 !important;
}

/* ----------------------------------------------------- Estilização dos Cards de preço ---- */
.planos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 20px;
  


}


.plano1{
  border: solid #1d2a30;
  text-align: center;
  margin: 5px;
  width: 250px; 
  height: 300px; 
  border-radius: 10px;  
  padding:10px;
  background-color:#E8E2F2 
    
}

.plano2{
 border:  solid #1d2a30;
 text-align: center;
 margin: 5px;
 width: 250px; 
  height: 300px; 
  border-radius: 10px;
  padding:10px;
  background-color:#E8E2F2 
}

.plano3{
    border: solid #1d2a30;
    text-align: center;
    margin: 5px;
    width: 250px; 
    height: 300px; 
    border-radius: 10px;
    padding:10px;
    background-color:#E8E2F2 
   
}

b{
    font-size:25px;
    color: #1d2a30; 
    text-shadow: 
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,      
     1px -1px 0px #FFF,    
     1px 
    
}


button{
    color: #e6fff9;
    background-color: #00a98f;
    border-color:#1d2a30;
    transition:0.2s;
    cursor:pointer;
    width:100px;
    padding:2px
   

}
button:hover{
    transform: scale(1.07);
}
/* -------------------------------------------------------- Estilização das imagens dispostas no cards de preço --- */

.imagens{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius:10px;

}




/* ------------------------------------------------------- Estilização dos blocos explicativos dos planos ----- */

.tituloSobrePlanos{}

.sobrePlanos1{
    border: #1d2a30;
}

.sobrePlanos2{
    border: salmon;
}

.sobrePlanos3{
    border: magenta;
}

