@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/* footer */
footer {
    width: 100vw;
    height: fit-content;
    text-align: center;
    padding: 15px 0;
    background-color: #E6FFF9;
    color: #012030;
}