html,
body {
    height: 100%;
}

header {
    height: 7%;
}

main {
    height: 86%;
}

footer {
    height: 7%;
}

section {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 20px;
}

.btn-color {
    background-color: #00a98f !important;
    color: #e6fff9;
}

.btn {
    margin-top: 10px;
    margin-left: 0 !important;
}

a {
    text-decoration: none;
}