form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    row-gap: 20px;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }

    div {
        display: flex;
        flex-direction: column;
    }
}