* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
}


header {
    height: 7%;
}

nav{
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

main {
    height: 86%;
    width: 100%;
    padding: 0;
}

section {
    height: 50%;
    width: 100%;
    
}

.img-fluid{
    width: 100px;
    height: auto;
    border-radius: 50%;
}


.mb-4 {
    margin: 0 !important;
}

h2 {
    margin: 0 !important;
}

.mb-5 {
    margin: 0 !important;
}

.card-deck {
    margin: 0 !important;
}

.mb-3 {
    margin: 0 !important;
    /* height: 100%; */
}

footer {
    display: flex;
    height: 7%;
    width: 100%;
    padding: 0;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}