@media screen and (max-width: 767px) {
    .img-fluid {
        display: none !important;
    }

    .col-6 {
        width: 100%;
    }

    #enviar {
        width: 100px;
        margin: 0;
    }
}